@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.typed-effect-container {
    padding-left: var(--container-padding-left);
    padding-right: var(--container-padding-right);
    padding-top: var(--container-padding-top);
    padding-bottom: var(--container-padding-bottom);
    background-color: #fff;
}

.typed-text {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xlarge);
    color: var(--primary-color);
    line-height: 1.25;
}

@media (max-width: 1200px) {
    .typed-effect-container {
        background-color: #fff;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .typed-text {
        /* font-family: 'Parisienne', cursive; */
        font-family: 'Playfair Display', serif;
        font-size: 1.75rem;
        color: #501357;
        line-height: 1.5;
        font-weight: 300;
    }
}