/* .about-container {
    background-color: #f9f9f9;
} */

.about-container h1 {
    font-family: 'Playfair Display', serif;
    color: #501357;
}

.about-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 3rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
}

.about-container .image-container {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    align-self: stretch;
    gap: 1rem;
}

.about-container .image-container img {
    width: 100%;
    object-fit: cover;
    max-height: 66%;
}

.about-container .image-container .about-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-container .image-container .about-icons a img {
    width: 2.5rem;
    height: auto;
}

.about-container .text-container {
    flex-basis: 66%;
    text-align: justify;
    overflow: auto;
}

.about-container .text-container p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    text-align: justify;
}

@media (max-width: 1024px) {
    .about-container {
        padding: 1rem;
    }

    .about-container .about-section {
        padding: 0;
        gap: 2rem;
    }

    .about-container .image-container img {
        object-fit: cover;
        object-position: 50% 30%;
        height: 20em;
    }

    .about-container .image-container,
    .about-container .text-container {
        flex-basis: 100%;
    }

    .about-container .about-section {
        flex-direction: column;
    }

    .about-container .text-container p {
        font-size: 1rem;
    }

    .about-section .image-container .about-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}