@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway');

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #000;
    color: white;
    text-align: center;
    /* padding: 1rem 2rem 1rem 2rem; */
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.hamburger-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10rem;
    margin-right: 10rem; */
}

header nav ul {
    list-style: none;
    display: flex;
}

/*
header nav ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
}

header nav ul li:not(:last-child) {
    border-right: 0.1rem solid white;
}

header nav ul li a {
    color: white;
    text-decoration: none;
} */

header nav ul li button {
    background: none;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    /* font-weight: bold; */
    /* padding: 0 1rem; */
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
}

/* header nav ul li:not(:last-child) button {
    border-right: 0.1rem solid white;
} */

header nav ul li button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #810e13;
}

/* Hero Section Styles */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero-text {
    max-width: 100%;
}

.hero-text h1 {
    font-size: 6rem;
    /* Adjusted for better responsiveness */
    color: #501357;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.hero-text h2 {
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1.5rem;
    font-weight: lighter;
}

.hero-text p {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* align image to center */
.hero-image {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    align-self: stretch;
}


.hero-image img {
    /* max-width: 66%; */
    object-fit: contain;
    /* max-height: 100%; */
}

/* Atendimento Button Styles */
.atendimento-button {
    background-color: #501357;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    /* font-family: 'Playfair Display', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.atendimento-button:hover {
    background-color: #ffffff;
    color: #810e13;
}

.back-to-top {
    background-color: #501357;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 100;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top::after {
    content: '';
    width: 0;
    height: 0;
    /* 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #ffffff;
     */
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-bottom: 1rem solid #ffffff;
    position: relative;
}

.back-to-top:hover {
    opacity: 1;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header {
        background-color: #000;
        color: white;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    .hero-container, 
    .hero-text, 
    .hero-image {
        flex-direction: column;
        flex-basis: 100%;
    }

    header nav {
        padding: 0rem;
        display: flex;
        justify-content: flex-end;
    }

    header nav ul.menu {
        display: none;
        flex-direction: column;
        width: 100%;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
        max-height: 0rem;
    }

    header nav ul.menu.visible {
        display: flex;
        max-height: 13rem;
    }

    .line {
        width: 100%;
        height: 0.3rem;
        background-color: #333333;
        border-radius: 0.2rem;
        transition: all 0.5s ease-in-out;
      }
      
      .clicked .line-1 {
        transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
      }
      
      .clicked .line-2 { 
        opacity: 0;
      }
      
      .clicked .line-3 {
        transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
      }

    .hamburger-icon {
        display: flex;
        cursor: pointer;
        transition: transform 0.3s ease;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .hamburger-icon.active {
        color: #501357;
        transform: rotate(45deg);
    }

    .hamburger-icon:focus {
        outline: none;
    }

    .hamburger-icon.open {
        /* Transform to 'X' symbol */
        transform: rotate(45deg); /* Example transformation */
    }

    header nav ul li:not(:last-child) button {
        border-right: none;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text h2 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }
}