@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #000;
    color: white;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.hamburger {
    display: none;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

header nav .logo a img {
    height: 4rem;
    width: auto;
}

header nav .logo p {
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: #ffffff;
    font-family: 'Abril Fatface', serif;
    font-weight: lighter;
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li button {
    background: none;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
}

header nav ul li button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #810e13;
}

.hero-container {
    background-color: #000;
    display: flex;
    align-items: center;
    /* justify-content: space-around;
    flex-wrap: wrap; */
    justify-content: space-between;
    /* justify-content: space-around; */
    gap: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    gap: 1rem;
}

/* .hero-text h1 {
    font-size: 6rem;
    color: #ffffff;
    font-family: 'Abril Fatface', serif;
    font-weight: lighter;
} */

.hero-text h1 {
    display: none;
}

.hero-text h2 {
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 3rem;
    font-weight: lighter;
    color: #d2d2d2;
    line-height: 1.0;
}

.hero-text p {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #d2d2d2;
}

.hero-image {
    display: flex;
    justify-content: center;
    flex-basis: 60%;
}

.hero-image img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    
}

.atendimento-button {
    background-color: #501357;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-start;
}

.atendimento-button:hover {
    background-color: #ffffff;
    color: #810e13;
}

.back-to-top {
    background-color: #501357;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 100;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top::after {
    content: '';
    width: 0;
    height: 0;
    /* 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #ffffff;
     */
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-bottom: 1rem solid #ffffff;
    position: relative;
}

.back-to-top:hover {
    opacity: 1;
}


/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    header {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    .hero-container {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        position: relative;
        flex-direction: column;
    }
    
    .hero-image {
        width: 100%;
        align-items: center;
    }

    .hero-image img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 40%;
        height: 40em;
    }

    .hero-image::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); 
    }

    .hero-text {
        position: absolute;
        bottom: 15%; 
        width: 100%;
        color: #ffffff;
        padding: 1rem;
        z-index: 5;
    }

    header nav {
        padding: 0rem;
        display: flex;
        justify-content: flex-end;
    }

    header nav ul.menu {
        display: none;
        flex-direction: column;
        width: 100%;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
        max-height: 0rem;
    }

    header nav ul.menu.visible {
        display: flex;
        max-height: 13rem;
    }

    .hamburger {
        position: absolute !important;
        top: 0px;
        right: 20px;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .hamburger:focus {
        outline: none;
    }
    
    .line {
        width: 100%;
        height: 0.3rem;
        background-color: #ffffff;
        border-radius: 0.2rem;
        transition: all 0.5s ease-in-out;
    }
    
    .clicked .line-1 {
        transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
    }
    
    .clicked .line-2 { 
        opacity: 0;
    }
    
    .clicked .line-3 {
        transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
    }

    .header nav ul li:not(:last-child) button {
        border-right: none;
    }

    .hero-text h1 {
        display: block;
        font-size: 3rem;
        color: #ffffff;
        font-family: 'Abril Fatface', serif;
        font-weight: lighter;
    }

    .hero-text h2 {
        font-size: 1rem;
        background: rgba(0, 0, 0, 0.5); 
    }

    .hero-text p {
        font-size: 0.75rem;
        background: rgba(0, 0, 0, 0.5); 
    }

    .atendimento-button {
        font-size: 1rem;
    }

    header nav .logo {
        position: absolute !important;
        top: 0px;
        left: 20px;
        width: 5rem;
        height: 5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* header nav .logo a img {
        height: 4rem;
        width: auto;
    } */

    header nav .logo p {
        display: none;
    }
}