.contact-container  {
    background-color: #501357;
    padding: 4rem;
}

.contact-container h1 {
    font-family: 'Playfair Display', serif;
}

.contact-section {
    display: flex;
    flex-direction: column;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem; */
    gap: 4rem;
}

.contact-section .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.contact-section .contact .contact-image img {
    width: 8rem;
    height: auto;
}

.contact-section .contact .contact-text {
    display: flex;
    flex-direction: column;
}

.contact h2 {
    display: block;
    color : #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: normal;
}

.contact p {
    display: block;
    color : #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align:left;
    font-size: 1rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .contact-container {
        padding: 1rem;
    }
    
    .contact {
        flex-basis: 100%;
        flex-direction: column;
    }

    .contact-section .contact .contact-image {
        display: none;
    }
    
    .contact p {
        font-size: 0.85rem;
        line-height: 1.25;
    }
}
