/* .services-container {
    background-color: #355013;
    padding-left: 10rem;
    padding-right: 10rem;
}

.services-container h1 {
    font-family: 'Playfair Display', serif;
}

.services-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
}

.services-section .image-container {
    display: flex;
    justify-content: center;
    flex-basis: 11%;
    align-self: stretch;
}

.services-section .image-container img {
    width: 100%;
    object-fit: contain;
    max-height: 100%;
}

.services-section .text-container {
    flex-basis: 89%;
    overflow: auto;
}

.services-section .text-container p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    color: #ffffff;
}

@media (max-width: 768px) {
    .services-section .image-container img {
        object-fit: contain;
        max-height: 10em;
    }

    .services-section .image-container,
    .services-section .text-container {
        flex-basis: 100%;
    }

    .services-section {
        flex-direction: column;
    }
} */

.services-container {
    background-color: #355013;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.services-container h1 {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
}

.services-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    gap: 3rem;
    transition: all 0.3s ease-in-out;
}

.services-section .image-container {
    display: flex;
    justify-content: center;
    flex-basis: 11%;
    align-self: stretch;
}

.services-section .image-container img {
    width: 100%;
    object-fit: contain;
    max-height: 100%;
}

.services-section .text-container {
    flex-basis: 89%;
    overflow: auto;
}

.services-section .text-container p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    color: #ffffff;
}

@media (max-width: 768px) {
    .services-container {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .services-section .image-container {
        flex-basis: 20%;
    }
    .services-section .text-container {
        flex-basis: 80%;
    }

    .services-section {
        flex-direction: row;
        margin-bottom: 1rem;
        gap: 1rem;
    }

    .services-section .text-container  p {
        font-size: 0.75rem;
    }

    .services-section .image-container img {
        object-fit: contain;
        max-height: 4rem;
    }

}