/* .services-container {
    background-color: #f9f9f9;
} */

.services-container h1 {
    font-family: 'Playfair Display', serif;
    color: #501357;
}

.services-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
}

.services-section .image-container {
    display: flex;
    justify-content: center;
    flex-basis: 11%;
    align-self: stretch;
}

.services-section .image-container img {
    width: 100%;
    object-fit: contain;
    max-height: 100%;
}

.services-section .text-container {
    flex-basis: 89%;
    text-align: justify;
    overflow: auto;
}

.services-section .text-container p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    text-align: justify;
}

@media (max-width: 768px) {
    .services-section .image-container img {
        object-fit: contain;
        max-height: 10em;
    }

    .services-section .image-container,
    .services-section .text-container {
        flex-basis: 100%;
    }

    .services-section {
        flex-direction: column;
    }
}